<div class="sidebar-container">
    <div class="not-sidebar">
      <div class="paragraph-header">Common Corruption within HOA's</div>
      <div class="paragraph-copy">Corruption is a form of dishonesty or a criminal offense which is undertaken by a person or an organization 
        which is entrusted in a position of authority, in order to acquire illicit benefits or abuse power for one's personal gain.
    </div>
    <span class="black-16-550">Any of these sound familiar?</span><br>
  
      <div class="paragraph-copy">
        <ul>
          <li>Secrecy and Lack of Transparency: Withholding information about financial matters, decisions, or board actions from the homeowners or other board members to maintain control and avoid scrutiny.</li>
          <li>Improperly Conducted Meetings: Manipulating meeting agendas, discussions, or voting procedures to control outcomes and limit homeowner influence.</li>
          <li>Mismanagement of Reserve Funds: Inadequate funding or misuse of reserve funds, leading to deferred maintenance and financial instability.</li>
          <li>Forgery: Falsifying documents, including signatures on contracts, financial reports, or minutes of meetings, and/or destruction of documents.</li>
          <li>Selective Maintenance: Prioritizing maintenance or repair work based on personal relationships or financial incentives, neglecting common areas, or discriminating against certain homeowners.</li>
          <li>Suppression of Dissent: Suppressing homeowner voices and concerns by discouraging participation, limiting access to information, or using intimidation tactics.</li>
          <li>Proxy Manipulation: Forging homeowner proxies or manipulating the proxy process to control voting outcomes during HOA meetings.</li>
          <li>Election Fraud: Rigging elections for board members through voter manipulation, voter suppression, or disqualifying legitimate candidates.</li>
          <li>Selective Enforcement: Applying HOA rules and regulations unfairly or selectively, targeting certain homeowners while overlooking violations by friends or allies.</li>
          <li>Failure to Act on Violations: Ignoring violations by fellow board members, officers, or allies, even when evidence exists.</li>
          <li>Kickbacks: Accepting bribes or kickbacks from contractors, service providers, or vendors in exchange for awarding contracts or maintenance work.</li>
          
      </ul>
      <div class="black-16-550">The only way to end this corruption is by ammending the bylaws!  Anyone opposed to the common sense changes we are proposing does NOT have the best interests of our community in mind.</div>
      
        <p-divider></p-divider>
      </div>
     
    
    </div>
    <div class="sidebar200">
      <img class="images" src="assets\images\corruption.jpg" />
    </div>
  </div>
