.topic-item {
    display: block;
    margin-bottom:20px;
}

.topic-row {
    display: flex;
    flex-direction: row;
}

.topic-header {
    height: 30px;
    width: 100%;
    background-color: black;
    color: aliceblue;
    font-size: .9em;
    font-weight: 525;
    padding-left: 6px;
    position: relative;
}