<div *ngIf="userAuthenticated == false">
  <app-signin></app-signin>
</div>

<div class="sidebar-container" *ngIf="userAuthenticated == true">
  <div class="not-sidebar">
    Below is the information on file for the unit owner, the persons living in the unit, and the vehicles registered to the unit.<br>
    <span class="red-16-550">It is important that you keep your information up to date.</span> Click the Edit button to update.
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Account">
       
          <app-account [reset]="selectedTab === 'Account'"></app-account>
       
      </p-tabPanel>
      <p-tabPanel header="Residents">
       
          <app-residents [reset]="selectedTab === 'Residents'"></app-residents>
       
      </p-tabPanel>
      <p-tabPanel header="Vehicles">
        
          <app-vehicles [reset]="selectedTab === 'Vehicles'"></app-vehicles>
       
      </p-tabPanel>
      <p-tabPanel header="Forms">

        <app-forms [reset]="selectedTab === 'Forms'"></app-forms>

      </p-tabPanel>
    </p-tabView>
  
  </div>
</div>
