<div *ngIf="userAuthenticated == false">
  <app-signin></app-signin>
</div>

<div class="sidebar-container" *ngIf="userAuthenticated == true">
  <div class="not-sidebar">
    As the current official WST website leaves much to be desired, this site may
    also serve as an alternative to update owner information and submit other
    forms such as maintenance work orders.
    <p-tabView (onChange)="onTabChange($event)">
      <p-tabPanel header="Account">
       
          <app-account [reset]="selectedTab === 'Account'"></app-account>
       
      </p-tabPanel>
      <p-tabPanel header="Residents">
       
          <app-residents [reset]="selectedTab === 'Residents'"></app-residents>
       
      </p-tabPanel>
      <p-tabPanel header="Vehicles">
        
          <app-vehicles [reset]="selectedTab === 'Vehicles'"></app-vehicles>
       
      </p-tabPanel>
      <p-tabPanel header="Forms">

        <app-forms [reset]="selectedTab === 'Forms'"></app-forms>

      </p-tabPanel>
    </p-tabView>
  </div>
</div>
