<div *ngIf="userAuthenticated == false">
  <app-signin></app-signin>
</div>

<div class="sidebar-container" *ngIf="userAuthenticated == true">

  <div class="not-sidebar">
    As the current official WST website leaves much to be desired, this site may also serve as an altrnative to update owner information 
    and submit other forms such as maintenance work orders.
    <p-tabView>
      <p-tabPanel header="Account">
       <app-account></app-account>
      </p-tabPanel>
      <p-tabPanel header="Residents">
       <app-residents ></app-residents>
      </p-tabPanel>
      <p-tabPanel header="Vehicles">
        <app-vehicles></app-vehicles>
      </p-tabPanel>
      <p-tabPanel header="Forms">
       Still to come.
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
