<div class="sidebar-container">
    <div class="not-sidebar">
      <div class="section-header">Vehicles</div>
      <div class="small-black-14">
        <span>{{ this.myVehicles[0].space }}</span
        ><br />
        <span class="small-black-text">Name:</span> {{ this.myVehicles[0].name
        }}<br />
        <span class="small-black-text">License:</span> {{ this.myVehicles[0].tag
        }}<br />
        <span class="small-black-text">Make:</span> {{ this.myVehicles[0].make
        }}<br />
        <span class="small-black-text">Model:</span> {{ this.myVehicles[0].model
        }}<br />
        <span class="small-black-text">Color:</span>
        {{ this.myVehicles[0].color }}
      </div>
    </div>
  </div>
