<p-table [value]="expenses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Description</th>
            <th>Amount</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-expenses>
        <tr>
            <td>{{ expenses.date }}</td>
            <td>{{ expenses.category }}</td>
            <td>{{ expenses.description }}</td>
            <td>{{ expenses.amount }}</td>
        </tr>
    </ng-template>
</p-table>
