

<div class="spacer-10"></div>
<mat-divider></mat-divider>
<div class="spacer-10"></div>
<div class="flex-row-space-between">
  <span class="black-16-550">Unit #{{ this.myUnit.unit }}</span>
  <span class="black-13-550">Bdrms: {{ this.myUnit.bdrms }} / SqFt: {{ this.myUnit.sqft }} </span>
</div>


<div class="unit-data-container">
  <div class="label-banner-green">
    <span class="label-banner-font">Resident(s)</span>
  </div>
  <div class="unit-data" *ngIf="residentHiddenState.residentOne">
    <div class="edit-button">
      <button type="button" 
      mat-raised-button color="primary"
      [disabled]="!residentEditStates.residentOne"
      (click)="onResidentClick(0)">EDIT</button>
    </div>

    <div class="small-black-14">
      <span>{{this.myProfiles[0].firstname + " " + this.myProfiles[0].lastname}}</span><br />
      <span class="small-black-text"></span> {{ this.myProfiles[0].email}}<br />
      <span class="small-black-text"></span> {{ this.myProfiles[0].cell}}<br />
    </div>
  </div>

  <div class="unit-data" *ngIf="residentHiddenState.residentTwo">
    <div class="edit-button">
      <button type="button" 
      mat-raised-button color="primary" 
      [disabled]="!residentEditStates.residentTwo"
      (click)="onResidentClick(1)">EDIT</button>
    </div>

    <div class="small-black-14">
      <span>{{this.myProfiles[1].firstname + " " + this.myProfiles[1].lastname}}</span><br />
      <span class="small-black-text"></span> {{ this.myProfiles[1].email}}<br />
      <span class="small-black-text"></span> {{ this.myProfiles[1].cell}}<br />
    </div>
  </div>

 
</div>

<div class="unit-data-container">
  <div class="label-banner-green">
    <span class="label-banner-font">Vehicle(s)</span>
  </div>
  <div class="unit-data" *ngIf="vehicleHiddenState.vehicleOne">
    <div class="edit-button">
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="!vehicleEditStates.vehicleOne"
        (click)="onVehicleClick(0)"
      >
        EDIT
      </button>
    </div>

    <div class="small-black-14">
      <span>{{ this.myVehicles[0].space }}</span
      ><br />
      <span class="small-black-text">Name:</span> {{ this.myVehicles[0].name
      }}<br />
      <span class="small-black-text">License:</span> {{ this.myVehicles[0].tag
      }}<br />
      <span class="small-black-text">Make:</span> {{ this.myVehicles[0].make
      }}<br />
      <span class="small-black-text">Model:</span> {{ this.myVehicles[0].model
      }}<br />
      <span class="small-black-text">Color:</span>
      {{ this.myVehicles[0].color }}
    </div>
  </div>

  <div class="unit-data" *ngIf="vehicleHiddenState.vehicleTwo">
    <div class="edit-button">
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="!vehicleEditStates.vehicleTwo"
        (click)="onVehicleClick(1)"
      >
        EDIT
      </button>
    </div>

    <div class="small-black-14">
      <span>{{ this.myVehicles[1].space }}</span
      ><br />
      <span class="small-black-text">Name:</span> {{ this.myVehicles[1].name
      }}<br />
      <span class="small-black-text">License:</span> {{ this.myVehicles[1].tag
      }}<br />
      <span class="small-black-text">Make:</span> {{ this.myVehicles[1].make
      }}<br />
      <span class="small-black-text">Model:</span> {{ this.myVehicles[1].model
      }}<br />
      <span class="small-black-text">Color:</span> {{ this.myVehicles[1].color
      }}<br />
    </div>
  </div>

  <div class="unit-data" *ngIf="vehicleHiddenState.vehicleThree">
    <div class="edit-button">
      <button
        type="button"
        mat-raised-button
        color="primary"
        [disabled]="!vehicleEditStates.vehicleThree"
        (click)="onVehicleClick(2)"
      >
        EDIT
      </button>
    </div>

    <div class="small-black-14">
      <span>{{ this.myVehicles[2].space }}</span
      ><br />
      <span class="small-black-text">Name:</span> {{ this.myVehicles[2].name
      }}<br />
      <span class="small-black-text">License:</span> {{ this.myVehicles[2].tag
      }}<br />
      <span class="small-black-text">Make:</span> {{ this.myVehicles[2].make
      }}<br />
      <span class="small-black-text">Model:</span> {{ this.myVehicles[2].model
      }}<br />
      <span class="small-black-text">Color:</span>
      {{ this.myVehicles[2].color }}
    </div>
  </div>
</div>
<div class="overlay" *ngIf="showSpinner">
  <div class="center">
    <mat-progress-spinner
      color="warn"
      diameter="50"
      strokeWidth="5"
      mode="indeterminate"
    >
    </mat-progress-spinner>
  </div>
</div>

<div class="form-footer"></div>
