.router-outlet {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  padding: 10px 0;
}

.app-container {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  min-width: 360px;
  max-width: 1000px;
  padding: 10px 0;
}

.red-divider {
  border-top: 2px solid #b32b23;
  border-bottom: 2px solid #b32b23;
  width: 100%;
  font-size: small;
  text-align: center;
}

img{
  border:0;
}

.menu-separator {
  display: inline-block;
  width: 1px;
  height: 1.5em; /* Adjust the height as needed */
  background-color: #ccc; /* Adjust the background color as needed */
  margin: 0 0.5em; /* Adjust the margin as needed */
  vertical-align: middle;
}