<div class="sidebar-container">
    <div class="not-sidebar">
      <div class="section-header">Forms - Under Construction</div>
      <div class="spacer-10"></div>
      <div>
        <form [formGroup]="dropDown">
          <p-dropdown formControlName="form" [options]="formList" placeholder="Select Form"></p-dropdown>
        </form>
      </div>
      <p-divider></p-divider>
      <div class="spacer-10"></div>
      <div *ngIf="formView == 'Work Order'">
       <app-work-order></app-work-order>
      </div>
      <div *ngIf="formView == 'Message to Board'">
       <app-message></app-message>
      </div>
      <div *ngIf="formView == 'Violation Report'">
        <app-violation></app-violation>
      </div>
      <div *ngIf="formView == 'Architectural Request'">
        <app-arch-request></app-arch-request>
      </div>
    </div>
</div>
