<div class="flex-row-start spacer-15">
  <img class="image-noborder padding-right-10" src="assets\images\whatsapp150.jpg" />
  <span>Join our WhatsApp group to keep up with the latest developments and participate in discussions.</span>
</div>

<div class="flex-row-start spacer-15">
  <img class="image-noborder  padding-right-10" src="assets\images\WhatsApp.png" />
  <span>Scan this image with your phone camera or WhatApp camera. </span>
</div>

<div>
  <span class="spacer-20">You may also follow this link to join:</span><br/>
  <a href="https://chat.whatsapp.com/FLRJAdjffbNJQf8gUJzhvO" target="_blank">Join WST Advocacy Group</a>
</div>








