<div class="section-header">Current Affairs</div>
<p-divider></p-divider>
<div class="paragraph-header">Major Maintenance</div>
<div class="paragraph-copy">
  In the future this is where we will keep you informed of maintenance issues and ongoing repairs.
</div>

<p-divider></p-divider>
<div class="paragraph-header">Financial</div>
<div class="paragraph-copy">
  In the future this is where we will keep you informed of our financial status.
</div>

<p-divider></p-divider>
<div class="paragraph-header">Other</div>
<div class="paragraph-copy">
  
</div>
