
<button type="button" mat-raised-button color="primary" (click)="cancelBackBtn()">Cancel</button>
<div class="spacer-10"></div>
<mat-divider></mat-divider>
<div class="spacer-10"></div>

<div class="child-title">
  <h2>Update Tenant Profile</h2>
</div>
<div>
  <form [formGroup]="myForm" novalidate>
    <div>
      <mat-form-field class="form-field">
        <input matInput placeholder="first" formControlName="firstname" />
        <mat-error *ngIf="handleError('firstname', 'required')">
          required
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="last" formControlName="lastname" />
       
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput placeholder="cell" formControlName="cell" />
        
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput placeholder="email" formControlName="email" />
       
      </mat-form-field>

     
      <div class="spread-buttons">
        <button
          type="button"
          [disabled]="!(myForm.valid && myForm.dirty)"
          mat-raised-button
          color="primary"
          (click)="submitBtn()"
        >
          UPDATE
        </button>
        <button
          type="button"
          mat-raised-button
          color="primary"
          (click)="submitBtnDelete()"
        >
          DELETE
        </button>
      </div>
    </div>
  </form>
  <div class="form-footer"></div>
</div>
