<div class="section-header">Minutes from the Meetings of the Board of Directors</div>
<p-divider></p-divider>
<p-table [value]="meetings" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Minutes</th>
            <th>Zoom</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-meetings>
        <tr>
            <td>{{ meetings.date }}</td>
            <td>{{ meetings.type }}</td>
            <td>
                <button type="button" pButton icon="pi pi-file-pdf" (click)="openURL(meetings.minutes)"></button>
            </td>
            <td>
                <button type="button" pButton icon="pi pi-microphone" (click)="openURL(meetings.zoom)"></button>
            </td>
           
        </tr>
    </ng-template>
</p-table>
