<div class="page-content" *ngIf="loginMode !='PW'">
 
  <div class="section-header">{{ pageTitle }}</div>
  <p-divider></p-divider>
  <span class="red-16-550">We need your email and unit number(s)to set up your account.  You may already have and account, then again, you may not. Try it and see.</span>
  <div class="black-14-600">If this is your first time here:</div>
  <div class="small-black-14">Enter your email and the default password <span class="black-14-600">"wstadmin"</span>. <br>
    If you get a message that your email is not registered, send a request to 'westburysq@gmail.com'<br>
    We are currently only allowing one registered email per unit.<br>
    By signing in you agree to be counted as a member.
  </div>
  <p-divider></p-divider>
  <div>
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <span class="black12">Email</span>
        <input type="text" pInputText formControlName="email" />
      </div>
      <div class="form-group">
        <span class="black12">Password</span>
        <input type="password" pInputText formControlName="password" />
      </div>
     
      <button type="submit" pButton label="Submit"></button>
    </form>

    <div>
      <p-button label="Change/Forgot Password" styleClass="p-button-link" (click)="showPasswordRestForm()"></p-button>
    </div>
</div>

</div>

<div class="page-content" *ngIf="loginMode =='PW'">
  <div class="section-header">{{ pageTitle }}</div>
  <p-divider></p-divider>
 
  <div class="small-black-14">Enter your email address  and a link from <span class="black-14-600">noreply@mail.app.supabase.io</span> will be sent to your email to change your password.<br>
   Depending on youe email security settings, you may receive a warning notice.<br>
  As long as the sender is from the address shown above, this is nothing to worry about.<br>
  Dismiss the warning and click the "Reset Password" link.<br>
    Check your Junk folder if you do not receive an email.
  </div>
  <p-divider></p-divider>
  <form [formGroup]="resetForm" (ngSubmit)="onSubmitReset()">
    <div class="form-group">
      <span class="black12">Email</span>
      <input type="text" pInputText formControlName="email" />
    </div>
    <button type="submit" pButton label="Submit"></button>
  </form>

  <div>
    <p-button label="Cancel" styleClass="p-button-link" (click)="hidePasswordRestForm()"></p-button>
  </div>

</div>