<div class="sidebar-container">
  <div class="not-sidebar">
    <div class="paragraph-header">About the WST Advocacy Group</div>
    <div class="paragraph-copy">
      The WST HOA Board of Directors works for, and
      should be held accountable to the members of the Association (the "Members"). Instead we have been ignored and cenored.
      The WST Advocacy Group operates similar to a organized union for labor.  Each of us alone can be ignored.  
      But together, working as a unified and organized force, we can be a positive force for change in our community.<br/>
      The Westbury Square Townhomes Advocacy Group exists to provide Members with a means to make their voice heard, and to provide easily accessible 
      iformation concerning the management, finances and leadership of the HOA.  <br>
    </div>
    <p-divider></p-divider>
  </div>
  <div class="sidebar200">
    <img class="images" src="assets\images\IMG_4013.jpg" />
  </div>
</div>
