<div class="sidebar-container">
  <div class="not-sidebar">
    <div class="paragraph-header">About the WST Advocacy Group</div>
    <div class="paragraph-copy">
      The Westbury Square Townhomes Advocacy Group exists to provide homeowners
      with current, complete and accurate concerning the management, finances
      and leadership of the HOA. The WST HOA Board of Directors works for, and
      should be held accountable to the members of the Association (the
      "Members"). The Westbury Square Townhomes Advocacy Group is dedicated to
      providing WST homeowners with up-to-date and accurate information
      concerning the HOA Board of Directors and other community events.
    </div>
    <p-divider></p-divider>
  </div>
  <div class="sidebar200">
    <img class="images" src="assets\images\IMG_4013.jpg" />
  </div>
</div>
