<div class="sidebar-container">
  <div class="not-sidebar">
    <div class="paragraph-header">By-Laws Update</div>
    <div class="paragraph-copy">
      The ByLaws for WST were written in 1979 by the building contractor, and
      grant almost dictatorial powers to the President of the HOA. These bylaws
      were never intended to be permanent, and should have been updated in the
      early 1980's. As it stands now, there are loop holes and policies that
      allow for the corrupt collection of proxies and other dishonest (but legal, as we are often reminded) actions that keep
      corrupt boards in power. 
    </div>

    <div class="paragraph-copy">
      It is the top priority of WSTAG to update the WST by-laws to prevent corrupt Boards from remaining in power to the detriment of our community.<br />
    </div>

    <div class="paragraph-copy">
      <span class="black-16-550">Proposed changes to the Bylaws:</span> <br />
      <ul>
        <li>Limit the number of proxies any single owner may hold</li>
        <li>Prevent the Board from removing officers without reason. Currently any three officers may gang up, remove any other board member, 
          and replace them with a loyal "yes men" puppets, without any notification or input from the Members</li>
        <li>Allow secure online voting so members do not need to be present at the annual meeting to vote</li>
    </ul>
    </div>
  </div>
  <div class="sidebar200">
    <img class="images" src="assets\images\IMG_4003.jpg" />
  </div>
</div>
