<div class="sidebar-container">
  <div class="not-sidebar">

    <div class="paragraph-copy">
      At this time, it is the top priority of WSTAG to update the by-laws so as to prevent the unscrupulous Boards from remaining in power long past the wishes of the Members.
      The current Board is unwilling to make these changes, and must therefore be removed by petition before we can more forward.
      <br />
    </div>
    <div class="paragraph-header">Petition for a Special Meeting</div>
    <div class="paragraph-copy">
     Please understand!  The petition alone does not remove the current board members named in the petition, it only calls for a Special Meeting to vote on the issue.  Our by-laws require 1/3 of all Members to sign.
     Once the requirements are met, the board <b >must</b> hold the meeting. Just as in regular annual meetings, a quorum is required and the vote must be at 
     least 51% of the voting members present to pass.
    </div>
    
     <div class="paragraph-header">Voting Proxies at the Special Meeting</div>
     <div class="paragraph-copy">
      Signing the petition is just the first step.  You must also show up at the meeting and vote.  However, we can use the same tactic that has been so effectively used against us all these years 
      to win back the Board.  If you are unable to attend, you can sign your vote over to another member by proxie.  Instructions and forms for doing this will be available 
      once the meeting date has been set.
     </div>
    
     <div class="paragraph-header">To Sign the Petition</div>
     <div class="paragraph-copy">
      After we are successful,....?
     </div>
  </div>
  <div class="sidebar200">
    <img class="images" src="assets\images\IMG_4003.jpg" />
  </div>
</div>
