<div class="sidebar-container">
  <div class="not-sidebar">
    <div class="paragraph-header">By-Laws Update</div>
    <div class="paragraph-copy">
      The ByLaws for WST were written in 1979 by the building contractor, and
      grant almost dictatorial powers to the President of the HOA. These bylaws
      were never intended to be permanent, and should have been updated in the
      early 1980's. As it stands now, there are loop holes and policies that
      allow for the dishonest and corrupt collection of proxies that keep
      corrupt boards in power. Please see the ByLaws section under Committees
      for more information.
    </div>

    <div class="paragraph-copy">
      Below is the opening paragraph to the current WST By-laws. As is obvious,
      they were written by and for the original developer, not the homeowners.
      They are therefore heavily skewed toward a powerful president rather than
      a limited and accountable one.<br />
      It is a the top priority of WSTAG to update the WST by-laws so homeowners
      have a greater say in how their investment is managed.<br />
      To participate in the process, sign in to your account and go to the
      Forum.
    </div>
  </div>
  <div class="sidebar200">
    <img class="images" src="assets\images\IMG_4003.jpg" />
  </div>
</div>
