<h2>Reset Password</h2>
<div class="">
  <form [formGroup]="myForm" novalidate>
      <mat-form-field class="form-field" >
        <input matInput placeholder="new password" formControlName="newPassword" />
        <mat-error *ngIf="handleError('newPassword', 'required')">
          required
        </mat-error>
        <mat-error *ngIf="handleError('newPassword', 'minlength')">
            Password must be at least 6 characters
          </mat-error>
      </mat-form-field>
      
      <div class="button-container">
        <button type="button" [disabled]="!myForm.valid" 
        mat-raised-button color="primary" (click)="submitBtn()">Submit</button>
      </div>
     
  </form>
  <div class="form-footer"></div>
</div>
