<div class="page-content">
    <div class="section-header">Enter New Password</div>
    <form [formGroup]="form" (ngSubmit)="onSubmitPassword()">
      <div class="form-group">
        <span class="black12">Minimum of 8 characters</span>
        <input type="text" pInputText formControlName="pword" />
        <small *ngIf="form.get('pword')?.invalid && form.get('pword')?.touched" class="p-error">
            New Password is required.
        </small>
        <small class="p-error" *ngIf="form.get('pword').invalid && form.get('pword').touched">
            Password must be at least 8 characters long.
        </small>

      </div>
      <button type="submit" pButton label="Submit"></button>
    </form>
  
  </div>
