<div class="sidebar-container">
  <div class="not-sidebar">
    <div class="section-header">Residents</div>
    <div *ngIf="multiUnits.length > 1">
      <form [formGroup]="dropDown">
        <p-dropdown formControlName="selectedUnit" [options]="multiUnits" placeholder="Select unit"></p-dropdown>
      </form>
    </div>
    <div *ngIf="myUnit.unit > 0">
      <span class="black-13-550">Unit #{{ myUnit.unit }} / Bdrms: {{ myUnit.bdrms }} / SqFt: {{ this.myUnit.sqft }}</span>
    </div>
      <div *ngIf="display=='data'">
        <div  class="dataList" *ngIf="myProfiles[0].id > 0">
          <ul>
            <li *ngFor="let x of myProfiles; let i = index">
              <app-resident-list [data]="x"  [index]="i" (sendData)="handleChildData($event)"></app-resident-list>
            </li>
          </ul>
      </div>
    </div>
    <div *ngIf="display=='form'" class="form-group">
      <form [formGroup]="form" (ngSubmit)="submitForm()">
       
        <div class="p-fluid">
          <div class="p-field">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" formControlName="firstname" pInputText class="p-inputtext-sm">
            <small *ngIf="form.get('firstname')?.invalid && form.get('firstname')?.touched" class="p-error">
              First Name is required.
            </small>
          </div>

          <div class="p-field">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" formControlName="lastname" pInputText class="p-inputtext-sm">
            <small *ngIf="form.get('lastname')?.invalid && form.get('lastname')?.touched" class="p-error">
              Last Name is required.
            </small>
          </div>

          <div class="p-field">
            <label for="cell">Cell</label>
            <input type="text" id="cell" formControlName="cell" pInputText class="p-inputtext-sm">
            <small *ngIf="form.get('cell')?.invalid && form.get('cell')?.touched" class="p-error">
              Cell is required.
            </small>
          </div>

         

          <div class="flex-column">
            <button type="submit" pButton label="Submit" [disabled]="form.invalid"></button>
            <p-button label="Cancel" styleClass="p-button-warning"  (click)="hideUpdateForm()"></p-button>
            <p-button label="Remove" styleClass="p-button-danger"  (click)="removeResident()"></p-button>
        </div>
        </div>

        
      </form>
    </div>

  </div>
</div>
