

  <div class="sidebar-container">
    <div class="not-sidebar">
        <div class="section-header">User / Owner</div>
        <div class="small-black-14 flex-row-space-between">
            <div>
              <span class="small-black-text"></span>{{ userAccount.firstname }} {{userAccount.lastname}}<br>
              <span class="small-black-text">Street: </span>{{ userAccount.street }}<br>
              <span class="small-black-text">City: </span>{{ userAccount.csz }}<br>
              <span class="small-black-text">Cell: </span>{{ userAccount.cell }}<br>
              <span class="small-black-text">Email: </span>{{ userAccount.email }}<br>
            </div>
            <div class="edit-button">

              <p-button label="Edit" icon="pi pi-file-edit" styleClass="p-button-sm" (click)="updateUserAccount()"></p-button>
            </div>
          </div>
        <p-divider></p-divider>
        
    </div>
</div>
